.logo {
  background: url("{{'logo.png' | asset_url}}");
  background-repeat: no-repeat;
  background-size: 33% 64%;
  background-position: center;
  height: 41px;
}

.sentisad {
  display: block;
  width: 65px;
  height: 65px;
  background-size: 50%;
  margin: 0 40%;
  background: transparent url("{{'emojisad.png' | asset_url}}") no-repeat 0 center;
}

.sentineutral {
  display: block;
  width: 65px;
  height: 65px;
  background-size: 50%;
  margin: 0 40%;
  background: transparent url("{{'emojineutral.png' | asset_url}}") no-repeat 0 center;
}

.sentihappy {
  display: block;
  width: 65px;
  height: 65px;
  background-size: 50%;
  margin: 0 40%;
  background: transparent url("{{'emojihappy.png' | asset_url}}") no-repeat 0 center;
}

.app-box {
  border-radius: 3px;
  background-color: #f5f5f5;
  min-height: 70px;
  padding: 15px 0px;
}

.app-text {
  padding: 10px;
  color: black;
  font-size: 14px;
}
